{% extends 'layout.html' %}
{% block body %}
<html>
    <body>
        <h1>Roster Page</h1>
        <u1>
        {% if grade_view == 1 %}
            {% for student in roster %}
                <li>
                    <b>{{ student[0] }}</b> has a grade of <u>{{ student[1] }}</u>.
                </li>
            {% endfor %}
        {% elif grade_view == 2 %}
            {% for student in roster %}
                <li>
                    <b>{{ student[0] }}</b> is a <i>{{ student[2] }}</i>.
                </li>
            {% endfor %}
        {% elif grade_view == 0 %}
            {% for student in roster %}
                <li>
                    <b>{{ student[0] }}</b> is a <i>{{ student[2] }}</i> with a grade of <u>{{ student[1] }}</u>.
                </li>
            {% endfor %}
        {% endif %}
        </u1>
    </body>
</html>
{% endblock %}